* {
    box-sizing: border-box;
    margin: 0px;
}

.gird{
    margin: 0px;
    display: grid;
    grid-template-areas: 
        "a a a b"
        "a a a c"
        "d e e e"
        "f e e e"
        "g g g h"
        "g g g i"
        "g g g j"
        "k k l j"
        "k k m m"
        "n n o q"
        "n n p q"
        "r s s s"
        "t t u v"
        "t t w v"
        "x y w v"
        "z io io tu"
        "ell io io ella"
        "ells nos vos vos"
        "elles nos vos vos"
        "elles com vos vos"
       ;
    
    
     grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-auto-rows: 350px;
    
}
.capselera {
    background-color: purple;
    color: white;
    font-family: 'Abril Fatface', cursive;
    padding: 50px;
    text-align: center;
    font-size: 50px;
}
.capselera:hover {
    background-color: orange;
    color: rebeccapurple;
    
    
}

.a {
    grid-area: a;
    background-repeat: no-repeat;
    background-image: url(../IMG/00.jpeg);
    background-size: cover;
    background-position: right;
}
.b {
    grid-area: b;
    background-repeat: no-repeat;
    background-image: url(../IMG/0.jpeg);
        background-size: cover;
    background-position: right
}
.c {
    grid-area: c;
    background-repeat: no-repeat;
    background-image: url(../IMG/1.jpeg);
    background-size: cover;
    
}
.d {
    grid-area: d;
    background-repeat: no-repeat;
    background-image: url(../IMG/22.jpeg);
    background-size: cover;
    background-position: center center;
    
}
.e {
    grid-area: e;
    background-repeat: no-repeat;
    background-image: url(../IMG/12.jpeg);
    background-size: cover;
    background-position: center;
   
}

.f {
    grid-area: f;
    background-repeat: no-repeat;
    background-image: url(../IMG/2.jpeg);
    background-size: cover;
    background-position:center;
   
}
.g {
    grid-area: g;
    background-repeat: no-repeat;
    background-image: url(../IMG/3.jpeg);
    background-size: cover;
    background-position: bottom;
    
}
.h {
    grid-area: h;
    background-repeat: no-repeat;
    background-image: url(../IMG/33.jpeg);
    background-size: cover;
    background-position: center center;
    
}

.i {
    grid-area: i;
    background-repeat: no-repeat;
    background-image: url(../IMG/4.jpeg);
    background-size: cover;

}
.j {
    grid-area: j;
    background-repeat: no-repeat;
    background-image: url(../IMG/5.jpeg);
    background-size: cover;
    background-position: center center;
    
}
.k {
    grid-area: k;
    background-repeat: no-repeat;
    background-image: url(../IMG/444.jpeg);
    background-size: cover;
    background-position: center;
  
}
.l {
    grid-area: l;
    background-repeat: no-repeat;
    background-image: url(../IMG/1111.jpeg);
    background-size: cover;
    background-position: center center;
    
}
.m { 
    grid-area: m;
    background-repeat: no-repeat;
    background-image: url(../IMG/10.jpeg);
    background-size: cover;
    background-position: center;
   
}
.n { 
    grid-area: n;
    background-repeat: no-repeat;
    background-image: url(../IMG/11111.jpeg);
    background-size: cover;
   
}
.o { 
    grid-area: o;
    background-repeat: no-repeat;
    background-image: url(../IMG/8.jpeg);
    background-size: cover;
    background-position:center;
   
}
.p { 
    grid-area: p;
    background-repeat: no-repeat;
    background-image: url(../IMG/9.jpeg);
    background-size: cover;
   
}
.q { 
    grid-area: q;
    background-repeat: no-repeat;
    background-image: url(../IMG/7.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.r { 
    grid-area: r;
    background-repeat: no-repeat;
    background-image: url(../IMG/11.jpeg);
    background-size: cover;
   
}
.s { 
    grid-area: s;
    background-repeat: no-repeat;
    background-image: url(../IMG/bebe.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.t { 
    grid-area: t;
    background-repeat: no-repeat;
    background-image: url(../IMG/13.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.u { 
    grid-area: u;
    background-repeat: no-repeat;
    background-image: url(../IMG/14.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.v { 
    grid-area: v;
    background-repeat: no-repeat;
    background-image: url(../IMG/27.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.w { 
    grid-area: w;
    background-repeat: no-repeat;
    background-image: url(../IMG/2222.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.x { 
    grid-area: x;
    background-repeat: no-repeat;
    background-image: url(../IMG/111111.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.y { 
    grid-area: y;
    background-repeat: no-repeat;
    background-image: url(../IMG/222222.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.z { 
    grid-area: z;
    background-repeat: no-repeat;
    background-image: url(../IMG/30.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.io { 
    grid-area: io;
    background-repeat: no-repeat;
    background-image: url(../IMG/26.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.tu { 
    grid-area: tu;
    background-repeat: no-repeat;
    background-image: url(../IMG/15.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.ell { 
    grid-area: ell;
    background-repeat: no-repeat;
    background-image: url(../IMG/28.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.ella { 
    grid-area: ella;
    background-repeat: no-repeat;
    background-image: url(../IMG/4444.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.nos { 
    grid-area: nos;
    background-repeat: no-repeat;
    background-image: url(../IMG/888.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.vos { 
    grid-area: vos;
    background-repeat: no-repeat;
    background-image: url(../IMG/22.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.ells { 
    grid-area: ells;
    background-repeat: no-repeat;
    background-image: url(../IMG/44.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.elles { 
    grid-area: elles;
    background-repeat: no-repeat;
    background-image: url(../IMG/aquopoli.jpeg);
    background-size: cover;
    background-position: center center;
   
}
.com { 
    grid-area: com;
    background-repeat: no-repeat;
    background-image: url(../IMG/1111.jpeg);
    background-size: cover;
    background-position: center center;
   
}

.text{
    padding: 100px 50px 50px 50px;
    opacity: 0;
    background: rgba(0,0,0,0.19);
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 20px 40px 10px;
    color: aliceblue;
    transition: opacity 1s;
    
}

.container:hover .text{ opacity: 1;
    
}
.fut {
    background-color: black;
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}
.fut:hover {
    background-color: rebeccapurple;
    color: greenyellow;
    
}

@media only screen and (max-width: 860px){
    .gird{
    grid-template-areas:
        "a" "b"
        "c d" 
        "e f" 
        "b h"
        "i j"
        "k l"
        "m n"
        "o p"
        "q r"
        "s s"
          "z io io tu"
        "ell io io ella"
        "ells nos vos vos"
        "elles nos vos vos"
        "elles com vos vos"
        ;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 300px;
} 
    .capselera{
        width: 110%;
        height: 100px;
        padding: 20px;
    }
    }

@media only screen and (max-width: 600px) {
    
    .gird{
        grid-template-areas: 
        "a"
            "b""b"
            "c" "c"
            "d""d"
            "e"
            "f" "f"
            "g"
            "h"
            "i"
            "j""j"
            "k""k"
            "l"
            "m"
            "n""n"
            "o" "o"
            "p"  "p"
            "q""q"
            "r"  "r"
            "s"
            "t"
            "u""u"
            "v"
            "z" "z"
            "y" "y"
            "x" "x"
            "w" "w"
            "io"  "io" 
            "tu"  "tu"
            "ell""ell"
            "ella"
            "ells" 
            "nos" "nos"
            "vos" "vos" 
            "elles""elles"
            "com""com"
            
            ;
                grid-template-columns: 1fr;
        grid-auto-rows: 300px;
        margin: 60%;
    }
    body{
        background-color: black;
    }
    .capselera {
        width: 300%;
    background-color: black;
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 25px;
        
}
.capselera:hover {
    background-color: lightyellow;
    color: mediumpurple;
}
    .fut {
        height: 50px;
        width: 300%;
    background-color: black;
    color: ghostwhite;
    font-family: 'Kaushan Script', cursive;
    padding: 5px;
    text-align: center;
    font-size: 10px;
        padding: 10px;
}
    .fut:hover {
        background-color: white;
        color: forestgreen;
    }
    
}